.root {
  position: relative;
  width: 64px;
  height: 32px;
  flex-direction: column;
  align-items: flex-start;
}
.selection {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 32px;
  border-radius: 50px;
  background-color: #97d0c3;
  transform: translateY(-50%);
}
.date {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -0.5px);
  top: 50%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
